<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filterCells</key>
	<array>
		<dict>
			<key>predicateKey</key>
			<string>reportedAt</string>
			<key>hasFilters</key>
			<false/>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Reported</string>
		</dict>
		<dict>
			<key>predicateKey</key>
			<string>reportLength</string>
			<key>hasFilters</key>
			<false/>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Reports</string>
		</dict>
		<dict>
			<key>predicateKey</key>
			<string>shape</string>
			<key>hasFilters</key>
			<false/>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Shapes</string>
		</dict>
		<dict>
			<key>predicateKey</key>
			<string>sightedAt</string>
			<key>hasFilters</key>
			<false/>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Sighted</string>
		</dict>
	</array>
	<key>predicates</key>
	<dict/>
	<key>reportedAtMinimumDate</key>
	<date>1998-01-01T18:56:25Z</date>
	<key>reportedAtMaximumDate</key>
	<date>2012-05-21T17:56:37Z</date>
	<key>reportedAtSelectedMinimumDate</key>
	<date>1998-01-01T18:56:25Z</date>
	<key>reportedAtSelectedMaximumDate</key>
	<date>2012-05-21T17:56:37Z</date>
	<key>sightedAtMinimumDate</key>
	<date>1930-01-01T18:56:55Z</date>
	<key>sightedAtMaximumDate</key>
	<date>2012-05-21T17:56:37Z</date>
	<key>sightedAtSelectedMaximumDate</key>
	<date>2012-05-21T17:56:37Z</date>
	<key>sightedAtSelectedMinimumDate</key>
	<date>1930-01-01T18:56:55Z</date>
	<key>shapesToFilter</key>
	<array/>
	<key>reportLengthsToFilter</key>
	<array/>
</dict>
</plist>
